
.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.axis_centre text {
  text-anchor: middle;
}
